body{
	background-color: #5cdb95;
	background-image: url('../img/bg.png');
	background-position: center center;
	background-size: cover;
	font-family: 'Gothic A1', sans-serif;
	font-size: 16px;
	color: #05386b;
}

.fontColor1{
	color: #05386b;
}

.fontColor2{
	color: #379683;
}

.fontColor3{
	color: #5cdb95;
}

.fontColor4{
	color: #8ee4af;
}

.fontColor5{
	color: #edf5e1;
}

.bold{
	font-weight: 700;
}